.comp {

  z-index: 2;
  position: relative;
  margin-bottom: $base-padding;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__player {
    @include clearfix();
    background-color: $white;
    cursor: pointer;
    border-bottom: solid 1px darken($light-grey, 20%);
    &.open {
      .fa {
        transform: rotate(180deg);
        transition: transform $base-duration ease-in-out;
      }
    }
  }

  &__player-names {
    @include span-columns(8);
    padding: $base-padding/2 $base-padding;
    border-right: 1px solid darken($light-grey, 20%);
  }

  &__player-total {
    @include span-columns(4);
    padding: $base-padding/2 $base-padding;
    .fa {
      float: right;
      transform: rotate(0deg);
      transition: transform $base-duration ease-in-out;
    }
  }

  &__breakdown {
    @include clearfix();
    background-color: $light-grey;
    overflow: hidden;
    max-height: 0;
    transition: max-height $base-duration ease-out;
    &.open {
      max-height: 300px;
      transition: max-height $base-duration ease-out;
    }
  }

  &__breakdown-name {
    @include span-columns(8);
    padding: $base-padding/2 $base-padding;
    border-right: 1px solid darken($light-grey, 20%);
  }

  &__breakdown-points {
    @include span-columns(4);
    padding: $base-padding/2 $base-padding;
  }

  &__team-item {
    margin: 0;
    border-bottom: solid 1px transparent;
    

  }

  &__team-heading, &__team-details {
    @include clearfix();
  }

  &__team-heading {
    cursor: pointer;
    &.open {
      background-color: #CCC;
      

      .comp__open {
        transition: transform $base-duration ease-in-out;
        transform: rotate(180deg);  
      }
    }
  }

  &__team-details {
    overflow: hidden;
    max-height: 0;
    transition: max-height $base-duration ease-in-out;
    background-color: #EEE;
    &.open {
      max-height: 300px;
      transition: max-height $base-duration ease-in-out;
      
    }
  }

  &__wk {
    opacity: 0.3;
    font-weight: 300;
  }

  &__open {
    position: absolute;
    right: 0;
    padding: 12px $base-padding;
    color: $white;
    transform: rotate(0deg);  
      transition: transform $base-duration ease-in-out;
  }

  &__title {
    color: $white;
    background-color: $brand-red;
    padding: $base-padding;
  }

  &__team-name, &__team-score {
    float: left;
    font-weight: bold;
    padding: 12px $base-padding;
  }

  &__team-name{
    width: 60%;
    background-color: $white;
  }
  &__team-score {
    width: 40%;
    background-color: $brand-secondary;
        color: $white;
  }

  &__team-list, &__team-score-list {
    
    float: left;
    padding: 12px $base-padding;
  }

  &__team-score-list {
    width: 40%;
    background-color: lighten($brand-secondary, 20%);
    color: $white;
  }

  &__team-list {
    width: 60%;
     li {
       position: relative;
       margin-bottom: 6px;
     }
  }

  &__player-icon {
    position: absolute;
    left: 0;
  }

  &__player-name {
    margin-left: 20px;
    display: inline-block;
  }

}