.notice {

  &__title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 6px;
  }

  &__date {
    font-size: 1em;
    color: $brand-green;
  }

  &__content {
    max-height: 60px;
    overflow: hidden;
  }
}