$white: #ffffff;
$black: #000000;
$base-text-color: #333333;
$brand-red: #F02D23;
$brand-green: #03674F;
$brand-secondary: #67030f;
$grey: #999;
$light-grey: #ddd;

$base-duration: 0.3s;
$base-padding: 24px;
$base-padding-lg: 48px;
$nav-height: 76px;